 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 138px;
}

.u-section-1 .u-image-1 {
  width: 1048px;
  height: 680px;
  object-position: 0% 0%;
  background-position: 0% 0%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 321px -15px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 652px;
  min-height: 282px;
  background-image: linear-gradient(to right, #292d33, #555c66);
  box-shadow: 10px 11px 40px 0 rgba(41,46,51,0.25);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -916px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: linear-gradient(#77aad9, #4c7397);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 391px auto 39px 32px;
}

.u-section-1 .u-text-2 {
  width: auto;
  margin: 30px 10px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 771px;
    height: 591px;
    margin-right: auto;
    margin-left: 178px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -846px;
    margin-left: 100px;
    height: auto;
  }

  .u-section-1 .u-shape-1 {
    width: 203px;
    height: 203px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 652px;
    height: 314px;
    margin-top: 186px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin: -460px 0 60px auto;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 496px;
    height: 496px;
    margin-right: 300px;
  }

  .u-section-1 .u-group-1 {
    width: 496px;
    margin-top: -586px;
    margin-left: 300px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 319px;
    height: 348px;
    object-position: 33.78% 0%;
    margin-right: 400px;
  }

  .u-section-1 .u-group-1 {
    width: 300px;
    margin-top: -456px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-shape-1 {
    width: 146px;
    height: 146px;
    margin-left: 400px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/87d7c4a0b1e8e9c1a1579665bc75c577f45008239d77501d68696068a40e7a208ede6d303a9a6ab15e40803e0da6dba6c579df209503326a6bd994_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 409px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 49px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 345px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  margin: 103px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 345px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-top: 44px;
  margin-right: 0;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 284px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 365px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 17px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -135px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 43px;
    margin-bottom: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 34px;
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/060717_IoT_A_LRG.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 409px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 47px;
  margin-bottom: 47px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 345px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  margin: 103px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 345px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-top: 44px;
  margin-right: 0;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 365px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -65px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 118px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}