 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 795px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 4.25rem;
  margin: 61px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 32px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 536px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 906px;
  height: 409px;
  margin: 66px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -91px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 181px;
  height: 181px;
  margin: -279px 173px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 181px;
  height: 181px;
  margin: -549px auto 0 196px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 326px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 245px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-list-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 330px;
  }

  .u-section-1 .u-image-1 {
    height: 154px;
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-1 {
    width: 170px;
    height: 129px;
    margin-top: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 159px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 17px;
    margin-right: -18px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 22px;
}.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3 .u-text-1 {
  margin: 71px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 36px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 9px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

.u-section-3 .u-text-5 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: -4px -9px 0 auto;
}

.u-section-3 .u-text-7 {
  margin: 25px auto 0 0;
}

.u-section-3 .u-text-8 {
  margin: 0 -9px 0 auto;
}

.u-section-3 .u-text-9 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-10 {
  margin: 0 auto 47px 0;
}.u-section-4 .u-sheet-1 {
  min-height: 17px;
}.u-section-5 .u-sheet-1 {
  min-height: 441px;
}

.u-section-5 .u-video-1 {
  width: 640px;
  height: 341px;
  margin: 41px auto 59px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
    height: 288px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
    height: 181px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 22px;
}